<h1> welcome to <%=title%></h1>
<%- include('./components/header.ejs') %>
<label>List of products</label>
<ul>
    <% products.forEach((product)=>{%>
        <li><%= product.label %></li>
    <%}) %>
</ul>